{% extends "feed/layout.html" %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}
{% block searchform %}
<form class="form-inline my-2 my-lg-0 ml-5" action="{% url 'search_arts' %}" method="get">
  <input name="p" type="text" placeholder="Search arts..">
  <button class="btn btn-success my-2 my-sm-0 ml-4" type="submit">Search</button>
</form>
{% endblock searchform %}
{% block content %}
 	<div class="container">
	    <div class="row">
	      <div class="col-md-8">
	      	{% if not arts %}
	      	<br>
	      	<h2><i>No arts match the tag provided!</i></h2>
	      	{% endif %}
	      	
	        {% for art in arts %}
	        <div class="card card-signin my-5">
	          <div class="card-body">
	          	<a href="{{ art.user_name.profile.get_absolute_url }}"><img src="{{ art.user_name.profile.image.url }}" class="rounded-circle" width="30" height="30" alt=""></a>
	          	<a class="text-dark" href="{{ art.user_name.profile.get_absolute_url }}"><b>{{ art.user_name }}</b></a>
	          	<br><small class="text-muted">Posted on {{ art.date_posted }}</small>
	          	<br><br>
	            <p class="card-text text-dark">{{ art.description }}</p>
	          </div>
	          <a href="{% url 'art-detail' art.id %}"><img class="card-img-top" src="{{ art.pic.url }}" alt=""></a>
	          {% if art.tags %}
	          <br><p class="text-danger ml-3"><b>Tags: <i>{{ art.tags }}</i></b></p>
	          {% endif %}
	          <div class="card-footer">
	          	<button class="btn btn-white mr-3 like" id="{{ art.id }}">
			        {% if art in liked_art %}
			            <a href="{% url 'art-like' %}" style="color:red;" id="likebtn{{ art.id }}"> Unlike</a> | {{art.likes.count}}
			        {% else %}
			            <a href="{% url 'art-like' %}" style="color:green;" id="likebtn{{ art.id }}"> Like</a> | {{art.likes.count}}
			        {% endif %}
			    </button>
	          	<a class="btn btn-outline-info" href="{% url 'art-detail' art.id %}">Comments | {{ art.details.count }}</a>
	          </div>
	        </div>
	        {% endfor %}
	  	   </div>
	    </div>
	</div>
{% endblock content %}
{% block jsfiles %}
<script>
	$(".like").click(function (e) {
    var id = this.id;
    var href = $('.like').find('a').attr('href');
    e.preventDefault();

    $.ajax({
        url: href,
        data: {
          'likeId': id
        },
        success: function(response){
          if(response.liked){
            $('#likebtn' + id).html("Unlike");
            $('#likebtn' + id).css("color", "red")
          }
          else{
            $('#likebtn' + id).html("Like");
            $('#likebtn' + id).css("color", "green")
          }
        }
      })
});
</script>
{% endblock jsfiles %}